@media (max-width: 1800px) {
    body {
        background-image: radial-gradient(circle 1224px at 10.6% 8.8%, rgba(255, 255, 255, 1) 0%, rgba(153, 202, 251, 0.219) 100.2%);
    }

    p {
        font-family: Georgia, 'Times New Roman', Times, serif;
    }


    .encabezado {
        text-align: center;
    }

    .encabezado p {
        padding: 2% 10% 0% 10%;
    }

    .fotoPerfil {
        margin: 3%;
        width: 14%;
        border-radius: 50%;
        border: 4px solid hsl(145, 80%, 37%);
    }

    footer {
        margin: 0;
        padding-top: 3%;
        padding-bottom: 1%;
        border-top: 5px hsl(145, 80%, 37%) solid;
        color: black;
    }

    nav {
        border-bottom: 5px hsl(145, 80%, 37%) solid;
    }

    .card {
        margin: 3em;
        background-image: radial-gradient(circle 788px at 0.7% 3.4%, rgba(164, 231, 192, 1) 0%, rgba(255, 255, 255, 1) 90%);
    }

    img {
        width: 20%;
    }

    /*Boton volver arriba*/

    .return {
        position: fixed !important;
        border-radius: 100%;

        left: 96.2%;
        bottom: 2%;
    }

    .return a :hover {
        color: #858585;
    }

    .return a {
        color: rgb(0, 0, 0);
    }

    .return a svg {
        filter: drop-shadow(0px 0px 3px rgb(75, 75, 75));
    }

    /*Recetas*/

    .logotype {
        margin: 4%;

    }

    .logotype h3 {
        padding-bottom: 3%;
    }

    .imgTop {
        width: 40%;
        filter: drop-shadow(7px 7px 5px);
    }

    .protos {
        margin: 10%;
        width: 30%;
        border: 1px solid;
    }

    .personas {
        margin: 5%;
    }

    .introduccion {
        margin: 4%;
    }

    .introduccion h4 {
        margin-bottom: 2%;
        margin-top: 3%;
    }

    .descripcionP {
        display: flex;
    }

    .descripcionP p {
        padding: 5% 4% 0% 8%;
    }

    .investigacion {
        margin: 4%;
        padding-top: 1%;
    }

    .investigacion h2 {
        padding-bottom: 2%;
    }

    .persona {
        width: 40%;
        padding-top: 2%;
    }

    .descripcionP img {
        filter: drop-shadow(0px 0px 2px black)
    }

    .esquema {
        padding-top: 1%;
    }

    .esquema p {
        padding: 2%;
    }

    .esquemaDigital {
        display: flex;
        width: 31%;
        padding-top: 2%;
    }

    .esquemaDigital img {
        margin: 7%;
    }

    .hallasgos img {
        width: 30%;
    }

    .contenHallasgos ul {
        padding: 5% 0% 4% 12%;
    }

    .contenido {
        display: flex;
    }

    .contenido .card {
        width: 25em;
    }

    .maqueta {
        margin: 3%;
    }

    .descMaqueta {
        text-align: center;
        margin: 3% 10% 0% 10%;
    }

    .circulo {
        position: relative;
        border-radius: 100%;
        width: 17%;
        height: 17%;
        padding: 11%;
        left: 39%;
        margin: 2%;
        background-color: rgb(71, 71, 71);
    }

    .numero {
        position: absolute;
        color: rgb(255, 255, 255);
        left: 48%;
        top: 4%;
    }

    .descarga {
        border: double rgb(67, 165, 42);
        margin: 2%;
    }

    .descarga :hover {
        color: rgb(67, 165, 42);
    }

    .esquemaDigitalCine {
        margin: 0% 5.5% 0% 5.5%;
        padding: 4% 10% 0% 0%;
        width: 110%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .imgRest {
        padding-left: 10%;
    }

    .Hallasgos2 img {
        width: 80%;
    }

    .imgHome {
        position: relative;
        width: 30%;
        padding: 1%;
    }

    .titleHome {
        margin: 2%;
        font-weight: 700;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .tarjeta {
        width: 40%;
        background-image: radial-gradient(circle 788px at 0.7% 3.4%, rgba(164, 231, 192, 1) 0%, rgba(255, 255, 255, 1) 90%);
        border: 2px #858585 solid;
    }

    .tarjetaHome {
        display: flex;
        flex-wrap: wrap;
        filter: drop-shadow(0px 0px 8px black);
        padding: 5%;
    }

    .descCardHome {
        margin: 3%;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
    }

    .tarjetaHome :hover {
        opacity: 0.9;
    }

    .logoProvisorio {
        padding-left: 10%;
        width: 20%;
    }
}

@media (max-width: 1200px) {

    p {
        font-size: 14px;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 16px;
    }

    h4 {
        font-size: 18px;
    }

    .tarjetaHome {
        display: grid;
        grid-template-columns: 1fr;
    }

    .tarjeta {
        width: 70%;
    }

    .imgHome {
        width: 60%;
    }

    .logoProvisorio {
        width: 30%;
    }

    .logotype h3 {
        font-size: 19.8px;
    }

    .personas {
        display: grid;
        grid-template-columns: 1fr;
    }

    .contenido {
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .contenido .card {
        width: 15em;
        margin: 1.5em;
    }

    .responsive img {
        width: 70%;
    }

    .return {
        left: 90%;
    }

    .card-text {
        font-size: 13px;
    }

    .numero {
        font-size: 20px;
    }

    .circulo {
        width: 2em;
        height: 2em;
    }
}

@media (max-width: 768px) {
    .descripcionP {
        display: grid;
        grid-template-columns: 1fr;
    }

    .descripcionP img {
        width: 20em;
    }

    .esquemaDigital img {
        display: grid;
        grid-template-columns: 1fr;
        width: 15em;
        padding-left: 1.8em;
        margin: 1em;
        justify-content: center;
        align-items: center;
    }

    .return {
        left: 86%;
    }

    .card-text {
        font-size: 13px;
    }

    .numero {
        font-size: 40px;
    }

    .circulo {
        width: 1em;
        height: 1em;
    }
}