section {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
  }
  

.navbar a{
    color: rgb(255, 255, 255);;
}

.navbar a:hover{
    color: red;
}

footer{
    background-color: rgba(0, 0, 0, 0.829);
    padding: 2rem;
    margin: 0;
}

.contacto{
    display: flex;
    justify-content: space-around;
}

.contacto a{
    margin: 0;
    color: #fff;
}

.icons{
    margin: 0rem 1rem 0.5rem 0rem;
}

.icons a{
    margin: 0.5rem;
}

.icons a:hover{
    opacity: 0.8;
    color: red;
}

@media screen and (max-width: 1200px) {

    
    
}

@media screen and (max-width: 768px) {

    .proyects{
        display: flex;
        flex-wrap: wrap;
    }

    .proyects .card{
        max-width: 178px;
    }

    .icons{
        margin: 0rem 0.5rem 0.5rem 0rem;
    }

    a{
        margin: 0.3rem;
    }

    footer p{
        font-size: 13px;
    }
}